.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text);
    margin-top: 6em;
    padding-block: 2em;
    gap: 10px;
    background: var(--secondary-bg-color);

    h1 {
        font-family: "exbed";
        transform: translateY(40px);
        opacity: 0.01;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 5px;

        &.pop {
            animation: header 2s forwards;
            // animation: title 3s forwards;
        }
    }

    p {
        width: 50%;

        &.pop {
            animation: header 2s forwards;
        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding-inline: 30px;
        justify-items: center;

        .card {
            display: flex;
            flex-direction: column;
            width: clamp(90px, 25vw, 500px);
            height: clamp(90px, 20vw, 500px);
            box-shadow: 3px 4px 6px 3px var(--silver-glow);
            transition: 0.5s;
            justify-content: flex-start;
            border-radius: 20px;
            overflow: hidden;
            position: relative;
            background: white;
            opacity: 0;
            transform: translateX(-60px);

            &.pop {
                animation: cards 1s forwards;
            }

            &:hover {
                box-shadow: 3px 4px 12px 3px var(--golden-glow);
            }

            &:hover img {
                transform: scale(1.1);
            }

            &:hover .img::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: var(--image-highlight);
                pointer-events: none;
                opacity: 5%;
            }

            .img {
                position: relative;
                width: 100%;
                aspect-ratio: 16/10;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.5s;
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: 0.5em;

                h3 {
                    padding-top: 2em;
                    font-family: 'exbed';
                    text-align: center;
                    font-size: 15px;
                }

                p {
                    font-size: 15px;
                    padding-bottom: 20px;
                    padding-inline: 20px;
                }

                h5 {
                    margin-bottom: 2em;
                }
            }
        }
    }
}

/* Animations */
@keyframes header {
    from {
        transform: translateY(40px);
        opacity: 0.01;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes cards {
    from {
        opacity: 0;
        transform: translateY(60px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Tablet */
@media (max-width: 1024px) {
    .projects .cards {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 20px;

        .card {
            width: clamp(120px, 40vw, 450px);
            height: auto;
        }
    }
}

/* Mobile */
@media (max-width: 600px) {
    .projects .cards {
        grid-template-columns: 1fr;
        padding-inline: 10px;

        .card {
            width: 100%;
            height: auto;
            justify-content: space-between;
            gap: 1em;
        }
    }
}