.filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3vh;
  padding-inline: 1rem;

  h3 {
    font-family: 'exbed';
    font-size: clamp(1rem, 1.5vw, 1.2rem);
    text-align: center;

    span {
      color: var(--golden-glow);
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    list-style: none;
    padding: 0;
    margin: 0;

    .tag {
      cursor: pointer;
      padding: 8px 18px;
      border-radius: 30px;
      background: white;
      border: 1px solid rgba(0,0,0,0.1);
      color: var(--text);
      transition: 0.25s ease;
      font-size: 0.9rem;
      white-space: nowrap;

      -webkit-tap-highlight-color: transparent;
        /* removes blue box on mobile */
        user-select: none;
        /* prevents text/image selection */
        -webkit-user-select: none;
        -ms-user-select: none;
        outline: none;

      &:hover {
        background: var(--hover);
        color: white;
      }

      &.active {
        background: var(--cta-bg);
        color: white;
        border: none;
      }
    }
  }
}

/* ------------ Tablet ------------ */
@media (max-width: 900px) {
  .filter {
    gap: 1.2rem;

    ul {
      gap: 10px;

      .tag {
        padding: 8px 14px;
        font-size: 0.85rem;
      }
    }
  }
}

/* ------------ Mobile ------------ */
@media (max-width: 600px) {
  .filter {
    gap: 1rem;

    ul {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      .tag {
        width: 100%;
        text-align: center;
        padding: 10px;
        font-size: 0.85rem;
      }
    }
  }
}
